.navigation {
  display: flex;
  
  &__menu-item:not(:last-of-type) {
    margin-right: 32px;
  }
  &__menu-link {
    font-weight: 300;
    font-size: px-to-em(24);
    line-height: lh-to-pct(28, 24);
    color: #FFFFC9;
    text-decoration: none;
    transition: 0.6s;
    &:hover {
      color: #FFFF3E;
    }
  }
}
