mixin navigation(modifier)
  ul.navigation&attributes(attributes)
    li.navigation__menu-item: a(href="#info").navigation__menu-link Обо мне
    li.navigation__menu-item: a(href="#info").navigation__menu-link Услуги
    li.navigation__menu-item: a(href="#info").navigation__menu-link Контакты
    li.navigation__menu-item: a(href="#info").navigation__menu-link Отзывы