.about {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1080px;

  &__photo {
    margin-right: 38px;
  }
  &__title {
    margin-bottom: 42px;
    font-weight: 900;
    font-size: px-to-em(48);
    line-height: lh-to-pct(56, 48);
  }
  &__period {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: px-to-em(26);
    line-height: lh-to-pct(30, 26);
  }
  &__place {
    margin-bottom: 42px;
    font-weight: 400;
    font-size: px-to-em(26);
    line-height: lh-to-pct(30, 26);
    color: #FFFFC9;
  }
  &__text {
    margin-bottom: 42px;
    font-weight: 300;
    font-size: px-to-em(26);
    line-height: lh-to-pct(39, 26);
    color: #FFFFC9;
  }
  &__blog-link {
    padding: 12px 36px;
    border-radius: 35px;
    font-weight: 500;
    font-size: px-to-em(24);
    line-height: lh-to-pct(28, 24);
    color: #FFFF3E;
    background: #1E1E1E;
    text-decoration: none;
    transition: 0.8s;
    &:hover {
      background: #FFFF3E;
      color: #1E1E1E;
    }
  }
  @media screen and (max-width: 1199.98px) {
    &__title {
      margin-bottom: 26px;
    }
    &__photo {
      max-width: 336px;
      margin-right: 28px;
    }
    &__text {
      margin-bottom: 30px;
      font-size: px-to-em(22);
    }
    &__blog-link {
      font-size: px-to-em(20);
      line-height: lh-to-pct(23, 20);
    }
  }
  @media screen and (max-width: 767.98px) {
    &__content {
      display: flex;
      flex-direction: column;
    }
    &__title, &__photo {
      display: none;
    }
    &__blog-link {
      align-self: center;
    }
  }
  @media screen and (max-width: 575.98px) {
    &__period {
      margin-bottom: 10px;
      font-size: px-to-em(16);
    }
    &__place {
      margin-bottom: 32px;
      font-size: px-to-em(14);
    }
    &__text {
      margin-bottom: 10px;
      font-size: px-to-em(12);
    }
    &__blog-link {
      padding: 4px 26px;
      font-size: px-to-em(10);
    }
  }
}
