mixin about(modifier)
  .about&attributes(attributes)
    h2.about__title Обо мне
    p.about__text Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Таким образом консультация с широким активом в значительной степени обуславливает создание соответствующий условий активизации.
    a(href="#").about__blog-link Мой блог в инстаграме
          
      
