include ../blocks/header/header.pug
include ../blocks/welcome/welcome.pug
include ../blocks/advantages/advantages.pug
include ../blocks/about/about.pug
include ../blocks/education/education.pug
include ../blocks/job/job.pug
include ../blocks/tabs/tabs.pug
include ../blocks/info/info.pug
