include ../blocks/header/header.pug
include ../blocks/welcome/welcome.pug
include ../blocks/advantages/advantages.pug
include ../blocks/about/about.pug
include ../blocks/info/info.pug
include ../blocks/form/form.pug
include ../blocks/footer/footer.pug
include ../blocks/popup/popup.pug
include ../blocks/feedback/feedback.pug
include ../blocks/reviews/reviews.pug
include ../blocks/price/price.pug
include ../blocks/option/option.pug