mixin price(modifier)
  section.price&attributes(attributes)
    h2.price__title Как я могу помочь
    .price__list
      +option("Семейная терапия", "850 руб/ч", "Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Таким образом консультация с широким активом в значительной степени обуславливает создание соответствующий условий активизации.Таким образом консультация с широким активом в значительной степени обуславливает")
      +option("Индивидуальная работа", "1000 руб/ч", "Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Таким образом консультация с широким активом в значительной степени обуславливает создание соответствующий условий активизации.Таким образом консультация с широким активом в значительной степени обуславливает")
      +option("Курс психотерапии", "12000 руб", "Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Таким образом консультация с широким активом в значительной степени обуславливает создание соответствующий условий активизации.Таким образом консультация с широким активом в значительной степени обуславливает")
      
