mixin info(modifier)
  section.info&attributes(attributes)#info
    .info__area#tabs
      ul.info__tabs
        li.info__tab: a.info__link(href="#about") Обо мне
        li.info__tab: a.info__link(href="#education") Образование 
        li.info__tab: a.info__link(href="#jobs") Практика
      +about("about", "Обо мне")#about
      +about("education", "Образование")#education
      +about("jobs", "Практика")#jobs
        
        