.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 100px 0 84px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }
  &__title {
    max-width: 320px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid #FFFF3E;
    font-weight: 500;
    font-size: px-to-em(60);
    line-height: lh-to-pct(70, 60);
    text-align: center;
  }
  &__contacts {
    margin-top: 20px;
    font-weight: 500;
    font-size: px-to-em(25);
    line-height: lh-to-pct(29,25);
    color: #FFFFC9;
    text-decoration: none;
  }
  &__menu-list {
    display: flex;
  }
  &__menu-item:not(:last-of-type) {
    margin-right: 32px;
  }
  &__menu-link {
    font-weight: 300;
    font-size: px-to-em(24);
    line-height: lh-to-pct(28, 24);
    color: #FFFFC9;
    text-decoration: none;
    transition: 0.6s;
    &:hover {
      color: #FFFF3E;
    }
  }
  @media screen and (max-width: 575.98px) {
    padding: 100px 50px 32px;

    &__info {
      margin-bottom: 24px;
    }
    &__title {
      margin-bottom: 0;
      padding-bottom: 10px;
      font-size: px-to-em(16);
    }
    &__contacts {
      margin-top: 12px;
      font-size: px-to-em(14);
    }
    &__menu-item:not(:last-of-type) {
      margin-right: 22px;
    }
    &__menu-link {
      font-size: px-to-em(10);
    }
  }
}
