mixin footer(modifier)
  footer.footer&attributes(attributes)
    .footer__info 
      h2.footer__title Елена Антовнова
      p.footer__contacts Адрес: ул Пролетарская 87
      a.footer__contacts(href="tel:+79999999999") Телефон: 8-999-999-99-99
    +navigation
