mixin job(modifier)
  .job&attributes(attributes)
    h2.job__title Образование
    ul.job__list
      li.job__item
        h3.job__period 3 года
        p.job__place Государственный психо-неврологический диспансер
      li.job__item
        h3.job__period 3 года
        p.job__place Психоаналитик в частной клинике
      li.job__item
        h3.job__period 2 года 
        p.job__place Психотерапевт в частной клинике
      li.job__item
        h3.job__period 2 года 
        p.job__place Частная практика