mixin advantages(modifier)
  section.advantages&attributes(attributes)
    h2.advantages__title Преимущества работы со&nbsp;мной
    .advantages__info
      p.advantages__text Спокойная обстановка
      p.advantages__text 10 лет практики
      p.advantages__text Возможность проведения видеоконсультации
