.welcome {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 58px 0 200px;
    
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 22px;
  }
  &__name {
    margin-bottom: 20px;
    font-family: 'Literata', serif;
    font-weight: 500;
    font-size: px-to-em(65);
    line-height: lh-to-pct(97, 65);
  }
  &__profession {
    margin-bottom: 42px;
    font-family: 'Literata', serif;
    font-weight: 300;
    font-size: px-to-em(26);
    line-height: lh-to-pct(39, 26);
  }
  &__appointment {
    margin-bottom: 42px;
    padding: 12px 46px;
    border: none;
    font-weight: 500;
    font-size: px-to-em(24);
    line-height: lh-to-pct(28, 24);
    color: #FFFF3E;
    background-color: #1E1E1E;
    border-radius: 35px;
    transition: 0.8s;
    cursor: pointer;
    &:hover {
      background-color: #FFFF3E;
      color: #1E1E1E;
    }
  }
  &__social {
    display: flex;
    margin-left: 42px;
  }
  &__social-link {
    margin-right: 32px;
    circle, path {
      transition: 0.6s;
    }
    &:hover {
      circle {
        fill: #1E1E1E;
      }
      path {
        fill: #FFFF3E;
      }   
    }
  }
  @media screen and (max-width: 1199.98px) {
    padding: 58px 50px 200px;

    &__info {
      max-width: 284px;
    }
    &__name {
      margin-bottom: 18px;
      font-size: px-to-em(45);
      line-height: lh-to-pct(67, 45);
    }
    &__profession {
      margin-bottom: 32px;
      font-size: px-to-em(18);
      line-height: lh-to-pct(27, 18);
    }
    &__appointment {
      padding: 12px 30px;
      font-size: px-to-em(20);
      line-height: lh-to-pct(23, 20);
    }
    &__social-link {
      svg {
        width: 36px;
        height: 36px;
      }
    }
    &__photo {
      max-width: 530px;
    }
  }
}
