mixin header(modifier)
  header.header&attributes(attributes)
    .header__area
      nav.header__menu
        +navigation
      a(href="tel:89999999999").header__contact
        include ./img/phone.svg
        p.header__phone 8-999-999-99-99
