.header {
  position: relative;

  &__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 18px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__burger-btn {
    display: none;
  }
  &__menu-list {
    display: flex;
  }
  &__menu-item:nth-of-type(n+2) {
    margin-left: 32px;
  }
  &__menu-link {
    font-weight: 300;
    font-size: px-to-em(24);
    line-height: lh-to-pct(28, 24);
    color: #FFFFC9;
    text-decoration: none;
    transition: 0.6s;
    &:hover {
      color: #FFFF3E;
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.6s;
    color: #FFFF3E;
    path {
      transition: 0.6s;
    }
    &:hover {
      color: #FFFFC9;
      path {
        fill: #FFFFC9;
      }
      }
    }
  &__phone {
    margin-left: 20px;
    font-weight: 900;
    font-size: px-to-em(26);
    line-height: lh-to-pct(30, 26);
  }
  @media screen and (max-width: 1199.98px) {
    padding: 0 50px;
  }
  @media screen and (max-width: 991.98px) {
    min-height: 85px;
    &__area {
      &--open {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 20px 68px;
        background-color: #1E1E1E;
        z-index: 8;
      }
    }
    &__burger-btn {
      display: block;
      padding: 0;
      border: none;
      background-color: transparent;
      outline: none;
      z-index: 10;
      transition: 0.6s;
      &--open {
        transform: rotate(90deg);
      }
    }
    &__menu {
      display: none;
      &--open {
        display: flex;
        margin: 30px 0;
      }
    }
    &__menu-list {
      display: flex;
      flex-direction: column;
    }
    &__menu-item:nth-of-type(n+2) {
      margin: 20px 0 0 0;
    }
  }
  @media screen and (max-width: 767.98px) {
    min-height: 40px;
    &__menu-link {
      font-size: px-to-em(20);
    }
    &__phone {
      font-size: px-to-em(20);
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
  @media screen and (max-width: 575.98px) {
    &__area {
      padding: 10px 12px;
      &--open {
        padding: 10px 62px;
      }
    }
    &__menu--open {
      margin: 20px 0;
    }
    &__menu-item:nth-of-type(n+2) {
      margin: 16px 0 0 0;
    }
    &__menu-link {
      font-size: px-to-em(16);
    }
    &__phone {
      font-size: px-to-em(12);
      line-height: lh-to-pct(14, 12);
    }
    &__burger-btn {
      height: 20px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
    &__phone {
      margin-left: 10px;
    }
  }
}
