mixin form(modifier)
  section.form&attributes(attributes)
    .form__area
      h2.form__title Запись на&nbsp;прием
      form.form__container
        input.form__field(type="text" placeholder="Как вас зовут?" required)
        input.form__field(type="tel" placeholder="Ваш номер телефона" pattern="[0-9]{10}" required)
        button.form__submit(type="submit") Записаться
