mixin education(modifier)
  .education&attributes(attributes)
    h2.education__title Образование
    ul.education__list
      li.education__item
        h3.education__period 2006-2011
        p.education__name Государственный институт прикладной психологии
      li.education__item
        h3.education__period 2012-2017
        p.education__name Британский университет психоанализа и психосоматики
      li.education__item
        h3.education__period 2023
        p.education__name Самообучение и саморазвитие (курсы, профессиональная литература)
